[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
django-widget-tweaks = "*"
bs4 = "*"
pypandoc = "*"
wiktionaryparser = "*"
randomwordgenerator = "*"
random-word = "*"a
python-decouple = "*"

[requires]
python_version = "3.8"
