{% extends "base.html" %}
{% block page_content %}
{% load static %}

<style>
    .viewMore[aria-expanded="false"]:before {
        content: "View More";
    }

    .viewMore[aria-expanded="true"]:before {
        content: "View Less";
    }

    body {
        font-family: 'Lexend Deca', sans-serif;
    }
</style>

<!-- Page Content -->
<div class="col-lg-12 text-center my-4">
    <h1>Results for: <b>{{ original_search }}</b></h1>
</div>

<!-- Wikipedia -->
{% if wiki_title %}
<div class="card">
    <div class="card-header">
        <h3 class="float-left pt-3"> {{ wiki_title }}</h3>
        <div class="float-right">
            <a href="{{ wiki_url }}" target="_blank">
                <img src="{% static 'wiki.png' %}" class="img-responsive center-block " alt="Wikipedia">
            </a>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{ wiki_text_brief }}</p>
        {% if wiki_text %}
        <div class="collapse" id="wikiText">
            {% for p in wiki_text %}
            <p class="card-text">{{ p | linebreaks}}</p>
            {% endfor %}
        </div>
        <div class="text-center mt-4">
            <button class="btn btn-primary viewMore" type="button" data-toggle="collapse" data-target="#wikiText"
                aria-expanded="false" aria-controls="wikiText">
            </button>
        </div>
        {% endif %}
    </div>
</div>
<hr>
<!------------------->
{% endif %}

<!-- Wiktionary -->
{% if wikti_defins_1 %}
<hr>
<!------------------->
<div class="card">
    <div class="card-header">
        <h3 class="float-left pt-3">Wiktionary definitions for {{ original_search }}:</h3>
        <div class="float-right">
            <a href="{{ wikti_url }}" target="_blank">
                <img src="{% static 'wikti.png' %}" href="{{ wikti_url }}" class="img-responsive center-block "
                    alt="Wikipedia">
            </a>
        </div>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            {% for definition in wikti_defins_1 %}
            <li class="list-group-item">
                <h6>{{ definition }}</h6>
            </li>
            {% endfor %}
            {% if wikti_defins_2 %}
            <div class="collapse" id="wiktiDefins">
                {% for definition in wikti_defins_2 %}
                <li class="list-group-item">
                    <h6>{{ definition }}</h6>
                </li>
                {% endfor %}
            </div>
            <div class="text-center mt-4">
                <button class="btn btn-primary viewMore" type="button" data-toggle="collapse" data-target="#wiktiDefins"
                    aria-expanded="false" aria-controls="wiktiDefins">
                </button>
            </div>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}


<!-- Urban dictionary -->
{% if urban_title %}
<hr>
<!------------------->
<div class="card">
    <div class="card-header text-white" style="background-color: #1d2439;">
        <h3 class="float-left pt-3">{{ urban_title }}</h3>
        <div class="float-right">
            <a href="{{ urban_url }}" target="_blank">
                <img src="{% static 'urban.png' %}" href="{{ urban_url }}" class="img-responsive center-block "
                    alt="Wikipedia">
            </a>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{ urban_text_brief }}</p>
        {% if not urban_text %}
        <cite class="text-secondary">{{ urban_example | linebreaks }}</cite>
        {% endif %}
        {% if urban_text %}
        <div class="collapse" id="urbanText">
            {% for p in urban_text %}
            <p class="card-text">{{ p | linebreaks}}</p>
            {% endfor %}
            <cite class="text-secondary">{{ urban_example | linebreaks }}</cite>
        </div>
        <div class="text-center mt-4">
            <button class="btn btn-primary viewMore" type="button" data-toggle="collapse" data-target="#urbanText"
                aria-expanded="false" aria-controls="urbanText">
            </button>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}

<!-- Pixabay -->
{% if pixabay_images %}
<hr>
<!------------------->
<div class="card mb-4">
    <div class="card-header">
        <h3 class="float-left pt-3">Pixabay {{ original_search }} images:</h3>
        <div class="float-right">
            <a href="{{ pixabay_url }}" target="_blank">
                <img src="{% static 'pixabay.png' %}" class="img-responsive center-block " alt="Wikipedia">
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="card-columns">
            {% for image in pixabay_images %}
            <div class="card">
                <img src="{{ image }}" class="card-img-top" alt="Picture of {{ original_search }}">
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

<div class="col-lg-12 text-center my-4">
    <a class="btn btn btn-danger mt-3" href="{% url 'random_page' word=' ' %}" role="button">Random Article</a>
</div>

{% endblock %}